.alert {
    padding: 5px;
    background-color: #f44336;
    color: white;
    width: 350px;
    margin: 5px;
}

.closebtn {
    margin-left: 5px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}