<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<head>
    <title>Login</title>
</head>

<body>


<div layout:fragment="index-content" class="container text-center boosters">
    <div class="index-content">

        <div id="pricing-table" class="clear content">
            <div th:if="${orders != null}" th:each="order : ${orders}" th:attr="class=${order.gameType + ' plan'}">
                <h3><img
                        th:attr="src=${order.gameType.getIcon()}"
                        class="img-circle"></h3>
                <ul>
                    <li><b th:text="${order.status}"></b></li>
                    <li><b th:text="${order.gameType.getName()}"></b></li>
                    <li><b>Current Rank </b><span th:text="${order.currentRank}"></span></li>
                    <!--<li><b>Goal</b> Plat V</li>-->
                    <li><b>Price </b><span th:text="${order.getTotalPrice() + 'Ƀ'}"></span></li>
                    <li><b>DeadLine </b><span th:text="${order.deadlineString()}"></span></li>
                </ul>
            </div>

            <div class="plan">
                <h3><img
                        src="/pictures/game-picture/lol.png"
                        class="img-circle"></h3>
                <ul>
                    <li><b>Name </b>Barna
                    </li>
                    <li><b>Game </b>League Of Legends
                    </li>
                    <li><b>Current Rank</b> Master</li>
                    <!--<li><b>Goal</b> Plat V</li>-->
                    <li><b>Price for 1 game </b> 5$</li>
                    <li><b>Price for 1 win</b> 7$</li>
                </ul>
            </div>
            <div class="plan">
                <h3><img
                        src="/pictures/game-picture/wow.png"
                        class="img-circle"></h3>
                <ul>
                    <li><b>Name </b>Márk
                    </li>
                    <li><b>Game </b>World of Warcraft
                    </li>
                    <li><b>Current Rank</b> Elite</li>
                    <!--<li><b>Goal</b> Plat V</li>-->
                    <li><b>Price for 1 game </b> 3$</li>
                    <li><b>Price for 1 win</b> 4$</li>
                </ul>
            </div>

            <div class="plan">
                <h3><img
                        src="/pictures/game-picture/rl.png"
                        class="img-circle"></h3>
                <ul>
                    <li><b>Name </b>Attila
                    </li>
                    <li><b>Game </b>Rocket League
                    </li>
                    <li><b>Current Rank</b> Diamond</li>
                    <!--<li><b>Goal</b> Plat V</li>-->
                    <li><b>Price for 1 game </b> 4$</li>
                    <li><b>Price for 1 win</b> 6$</li>
                </ul>
            </div>


            <div class="plan">
                <h3><img
                        src="/pictures/game-picture/ow.png"
                        class="img-circle"></h3>
                <ul>
                    <li><b>Name </b>Bence
                    </li>
                    <li><b>Game </b>Overwatch
                    </li>
                    <li><b>Current Rank</b> Gold</li>
                    <!--<li><b>Goal</b> Plat V</li>-->
                    <li><b>Price for 1 game </b> 5$</li>
                    <li><b>Price for 1 win</b> 6$</li>
                </ul>
            </div>


        </div>

    </div>

</div>

</div>

</body>

</html>
