<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Cöder Boosters</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lte IE 8]>
    <script th:src="@{~js/index_js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{~/css/ie9.css}"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{~/css/ie8.css}"/><![endif]-->
    <link rel="stylesheet" th:href="@{~/css/error-message.css}"/><![endif]-->

</head>

<!-- Header -->
<header id="header">
    <h1 id="logo"><a href="index.html">CöderBoosters</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#">Boosters</a>
            </li>
            <li><a href="#">Services</a></li>
            <li><a href="/login" class="button special">Log In</a></li>
            <li><a href="/register" class="button special">Sign Up</a></li>

        </ul>
    </nav>
</header>
<body class="landing">

    <div id="page-wrapper">

        <div class="container-fluid" layout:fragment="index-content"></div>


    </div>
    <script th:src="@{~/js/index_js/jquery.min.js}" defer></script>
    <script th:src="@{~/js/index_js/jquery.scrolly.min.js}" defer></script>
    <script th:src="@{~/js/index_js/jquery.dropotron.min.js}" defer></script>
    <script th:src="@{~/js/index_js/jquery.scrollex.min.js}" defer></script>
    <script th:src="@{~/js/index_js/skel.min.js}" defer></script>
    <script th:src="@{~/js/index_js/util.js}" defer></script>
    <script th:src="@{~/js/index_js/ie/respond.min.js}" defer></script>
    <script th:src="@{~/js/index_js/main.js}" defer></script>
</body>

</html>