<!DOCTYPE HTML>

<html layout:decorate="~{index/index-head}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div class="container-fluid page-wrapper" layout:fragment="index-content">

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h2>World leaders in boosting services</h2>
                <p>According to surveys, the 20% of professional players works for this site.<br />
                    Make the best chocie and choose us!</p>
            </header>
            <span class="image"><img th:src="@{~/pictures/index_images/newpic01.jpg}" alt="" /></span>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img th:src="@{~/pictures/index_images/newpic02.jpg}" alt="" /></span>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="4u 12u$(medium)">
                        <header>
                            <h2>Serving gamers since 2017</h2>
                            <p>Our passion is to offer affordable and professional boosting services for everyone.</p>
                        </header>
                    </div>
                    <div class="4u 12u$(medium)">
                        <p>We placed a great emphasis on assembling the CöderBooster team. It consists of long-known and trusted boosters with previous boost experience. These top tier players will consider your purchase as a professional job, and they will try to complete your order in the fastest possible way. Since quality is one of our main values, we made great efforts in order to compose the best and most professional boost group. </p>
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <p>To achieve this, we signed simply from the best workforce attainable. Our dedicated team members will give their 100% skills and knowledge in order to win all games while boosting your account. We try to achieve the highest win rate possible, which benefits both the customer and the booster.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="spotlight style2 right">
        <span class="image fit main"><img th:src="@{~/pictures/index_images/newpic03.jpg}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Follow your order in your account</h2>
                <p>While your account being boosted you can check the status of it easily in your CöderBooster account.</p>
            </header>
            <p>You can contact your booster or our support services which is online 24/7. Average respond time is in an hour, and there is no problem that our support team could not solve. We work for you!</p>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img th:src="@{~/pictures/index_images/new2pic04.jpg}" alt="" /></span>
        <div class="content">
            <header>
                <h2>The security of your account data is garanteed</h2>
                <p>Our boosters use VPN and do not know your password</p>
            </header>
            <p>CöderBooster uses an own application to hide your private data from the boosters, and to garantee you 100% security. This is one of our main priorities!</p>
            <p>We provide VPN protection as a standard for every customer of CöderBooster to ensure account safety against ban. Every booster at CöderBooster has a private VPN protection while working on your game account.</p>
        </div>
    </section>

    <!-- Four -->
    <section id="two" class="spotlight style2 right">
        <span class="image fit main"><img th:src="@{~/pictures/index_images/newpic05.jpg}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Time guarantee</h2>
                <p>In 2017: our boosters finished every order before deadline.</p>
            </header>
            <p>For every order, there is a maximum given time (which is indicated in the member’s area) for your account being boosted. If the booster fails to finish in time, you get 30% of the price back but the work will be finished anyway.</p>
        </div>
    </section>
</div>
</html>
