<div th:fragment="general-order-part" xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" th:value="${game_type}" name="gameType" required/>

</div>

<div th:fragment="lol-specific-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>CurrentRank:<br>
    <select name="currentRank">
        <option th:each="lg : ${league_divisions}"
                th:text="${lg}"
                th:value="${lg}"></option>
    </select>
</div>

<div th:fragment="wow-specific-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>CurrentBracket:<br>
    <select name="currentBracket">
        <option th:each="wb : ${wow_brackets}"
                th:text="${wb}"
                th:value="${wb}"></option>
    </select>
</div>

<div th:fragment="ow-specific-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>Current Rank:<br>
    <select name="currentRank">
        <option th:each="ow_lg : ${ow_divisions}"
                th:text="${ow_lg}"
                th:value="${ow_lg}"></option>
    </select>
</div>

<div th:fragment="rl-specific-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>CurrentRank:<br>
    <select name="currentRank">
        <option th:each="rl : ${rocket_league}"
                th:text="${rl}"
                th:value="${rl}"></option>
    </select>
</div>

<div th:fragment="csgo-specific-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>CurrentRank:<br>
    <select name="currentRank">
        <option th:each="division : ${csgo_divisions}"
                th:text="${division}"
                th:value="${division}"></option>
    </select>
</div>