<!DOCTYPE html>
<html layout:decorate="~{account/layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Transfer</title>
</head>

<body>

<div layout:fragment="content" class="container">

    <!-- Content Header (Page header) -->


    <div id="profile" class="row list-group">


        <div th:if="${success}" id="success-messages" class="alert alert-success">
            <th:block th:each="message : ${success}">
                <p th:text="${message}"></p>
            </th:block>
        </div>

        <div th:if="${errors}" id="error-messages" class="alert alert-danger">
            <p>You have the following errors:</p>
            <ul th:each="error : ${errors}">
                <li th:text="${error}"></li>
            </ul>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 payment">
                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <h2 class="text-center paypal-title"><strong>PayPal Transfer</strong></h2>
                    <div class="tabbable">
                        <ul id="tab" class="nav nav-tabs row text-center" data-tabs="tabs">
                            <li class="active col-xs-6"><a href="#credit-card" data-toggle="tab">Credit Card</a></li>
                            <li class="col-xs-6"><a href="#paypal" data-toggle="tab">Paypal</a></li>
                        </ul>
                    </div>
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-heading display-table">
                            <div class="row display-tr">
                                <h3 class="panel-title display-tr">Payment Details</h3>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="credit-card">
                                <div class="panel-body credit-card">
                                    <div class="card-logos">
                                        <i id="icon-visa" class="fa fa-cc-visa icon"></i>
                                        <i id="icon-mastercard" class="fa fa-cc-mastercard icon"></i>
                                        <i id="icon-amex" class="fa fa-cc-amex icon"></i>
                                        <i id="icon-discover" class="fa fa-cc-discover icon"></i>
                                    </div>

                                    <form role="form" id="payment-form" method="POST" th:action="@{~/customer-paypal}">
                                        <div>
                                            <label for="amount">Amount: </label>
                                            <input id="amount" type="number" name="amount" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="cardHolder">CARD HOLDER</label>
                                                    <input class="form-control" id="cardHolder"
                                                           placeholder="Name On Card" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="cardNumber">CARD NUMBER</label>
                                                    <div class="input-group">
                                                        <input class="form-control" id="cardNumber"
                                                               placeholder="Valid Card Number" maxlength="19" required>
                                                        <span class="input-group-addon"><i
                                                                class="fa fa-credit-card credit-card-logo"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 col-md-7">
                                                <div class="form-group">
                                                    <label for="cardExpiry"><span
                                                            class="hidden-xs">EXPIRATION</span><span
                                                            class="visible-xs-inline">EXP</span> DATE</label>
                                                    <input class="form-control" id="cardExpiry" placeholder="MM/YY"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-md-5 pull-right">
                                                <div class="form-group">
                                                    <label for="cardCVC">CV CODE</label>
                                                    <input class="form-control" id="cardCVC" type="text"
                                                           pattern="[0-9]+" maxlength="3" placeholder="CVC" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="pay-button btn btn-success btn-lg btn-block"
                                                        type="submit">
                                                    Pay [[${#numbers.formatCurrency(totalPrice)}]]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row nav-buttons">
                                            <div class="col-xs-12">
                                                <a class="btn btn-default btn-block" href="/customer-profile">
                                                    <i class="fa fa-angle-left"></i>
                                                    Back To Profile
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row" style="display:none;">
                                            <div class="col-xs-12">
                                                <p class="payment-errors"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="tab-pane" id="paypal">
                                <div class="panel-body paypal">
                                    <h3><i class="fa fa-paypal" aria-hidden="true"></i>
                                        PayPal</h3>
                                    <form role="form" id="payment-form-paypal" method="POST"
                                          th:action="@{~/customer-paypal}">
                                        <div>
                                            <label for="amount">Amount: </label>
                                            <input id="amount" type="number" name="amount" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="email">EMAIL</label>
                                                    <input class="form-control" id="email" type="email"
                                                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                           placeholder="Your email" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="password">PASSWORD</label>
                                                    <input type="password" class="form-control" id="password"
                                                           placeholder="Your password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="pay-button btn btn-success btn-lg btn-block"
                                                        type="submit">
                                                    Pay [[${#numbers.formatCurrency(totalPrice)}]]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row nav-buttons">
                                            <div class="col-xs-12">
                                                <a class="btn btn-default btn-block" href="/customer-profile">
                                                    <i class="fa fa-angle-left"></i>
                                                    Back To Profile
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row" style="display:none;">
                                            <div class="col-xs-12">
                                                <p class="payment-errors"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- CREDIT CARD FORM ENDS HERE -->
                </div>
            </div>

        </div>

    </div>

</body>

</html>
