<!DOCTYPE html>
<html layout:decorate="~{account/layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="customer-order">

    <div id="pricing-table" class="clear">
        <div class="plan lol">
            <h3><img
                    th:src="@{~/pictures/game-picture/lol.png}"
                    class="img-circle"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b>League Of Legends</b>
                </li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>
        <div class="plan cs-go">
            <h3><img th:src="@{~/pictures/game-picture/csgo.png}" class="img-circle">
            </h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b>Counter-Striek:GO</b></li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>

        <div class="plan fifa">
            <h3><img th:src="@{~/pictures/game-picture/fifa.png}" class="img-circle"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b>FIFA</b></li>
                <li><b>Divisio</b> Amature 2</li>
                <li><b>Goal</b> Pro 2</li>
                <li><b>Price</b> 50$</li>
                <li><b>DeadLine</b> 05/12/2017</li>
            </ul>
        </div>
        <div class="plan wow">
            <h3><img
                    th:src="@{~/pictures/game-picture/wow.png}"
                    class="img-circle"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b> World Of Warcraft </b></li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>
        <div class="plan overwatch">
            <h3><img class="img-circle" th:src="@{~/pictures/game-picture/ow.png}"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b> Overwatch</b></li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>
    </div>
</div>

</html>