<!DOCTYPE html>
<html layout:decorate="~{account/layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head><title>Customer Orders</title></head>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Customer Orders
        </h1>
    </section>

    <a class="btn btn-default" role="button" href="/select-game">New Order</a>

    <!--<form action="/create-order" method="GET">
        <input type="submit" class="btn btn-default">
        <select name="gametype" id="select-gametype">
            <option th:each="game : ${gameTypes}" th:text="${game}" th:value="${game}"></option>
        </select>
    </form>-->

    <div id="pricing-table" class="clear">
        <div th:each="order : ${orders}" th:attr="class=${order.gameType + ' plan'}">
            <h3><img
                    th:attr="src=${order.gameType.getIcon()}"
                    class="img-circle"></h3>
            <ul>
                <li><b>[[${order.status}]]</b>
                </li>
                <li><b>[[${order.gameType.getName()}]]</b>
                </li>
                <li><b>Current Rank</b> [[${order.currentRank}]]</li>
                <!--<li><b>Goal</b> Plat V</li>-->
                <li><b>Price</b> [[${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA', 2, 'POINT')}]]$</li>
                <li><b>DeadLine</b> [[${order.deadlineString()}]]</li>
            </ul>
        </div>


<!--        <div class="plan cs-go">
            <h3><img th:src="@{~/pictures/game-picture/csgo.png}" class="img-circle">
            </h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b>Counter-Striek:GO</b></li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>

        <div class="plan fifa">
            <h3><img th:src="@{~/pictures/game-picture/fifa.png}" class="img-circle"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b>FIFA</b></li>
                <li><b>Divisio</b> Amature 2</li>
                <li><b>Goal</b> Pro 2</li>
                <li><b>Price</b> 50$</li>
                <li><b>DeadLine</b> 05/12/2017</li>
            </ul>
        </div>
        <div class="plan wow">
            <h3><img
                    th:src="@{~/pictures/game-picture/wow.png}"
                    class="img-circle"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b> World Of Warcraft </b></li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>
        <div class="plan overwatch">
            <h3><img class="img-circle" th:src="@{~/pictures/game-picture/ow.png}"></h3>
            <a class="signup" href="">Accept</a>
            <ul>
                <li><b> Overwatch</b></li>
                <li><b>Divisio</b> Gold V</li>
                <li><b>Goal</b> Plat V</li>
                <li><b>Price</b> 100$</li>
                <li><b>DeadLine</b> 06/12/2017</li>
            </ul>
        </div>-->


    </div>
</div>

</html>