
<!DOCTYPE html>
<html layout:decorate="~{account/layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Profile</title>
</head>

<body>

<div layout:fragment="content" class="container">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Profile
        </h1>
    </section>

    <div class="well well-sm">
        <strong>Profile</strong>
    </div>

    <div id="profile" class="row list-group">

        <div class="col-xs-12 col-lg-12">

            <div class="row">

                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-center">

                        <div th:if="${success}" id="success-messages" class="alert alert-success">
                            <th:block th:each="message : ${success}">
                                <p th:text="${message}"></p>
                            </th:block>
                        </div>

                        <div th:if="${errors}" id="error-messages" class="alert alert-danger">
                            <p>You have the following errors:</p>
                            <ul th:each="error : ${errors}">
                                <li th:text="${error}"></li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="username">Account Name:</label>
                            <p class="form-control" id="username" name="username" th:text="${userData.accountName}">JohnDoe</p>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="email">E-mail:</label>
                            <p class="form-control" id="email" name="email" th:text="${userData.email}">example@gmail.com</p>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="boostcoin">Boost Coin Balance:</label>
                            <p class="form-control" id="boostcoin" name="boostcoin" th:text="${userData.boostCoin}">150</p>
                            <a class="btn btn-default" role="button" href="/customer-paypal">Transfer via PayPal</a>
                        </div>

                        <!-- TODO: PayPal section -->

                        <!-- TODO: GameAccounts section -->

                        <!--<form th:action="@{~/customer-profile}" method="POST">
                            <div class="text-center">
                                <a class="btn btn-default" th:href="@{~/}">Back</a>
                                <input class="btn btn-success" type="submit" value="Submit">
                            </div>
                        </form>-->

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
