<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="account/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<head>
    <title>Order form</title>
</head>

<body>

<div layout:fragment="content">

    <h1>Boost Order Creation</h1>

    <!-- ERRORS -->
    <div th:if="${errors}" id="error-messages" >
        <div th:each="error : ${errors}">
            <span class="alert" th:text="${error}"></span>
            <br>
        </div>
    </div>

    <!-- ORDER FORM -->
    <form action="/create-order" method="POST">

        <!-- GENERIC PART -->
        <div th:replace="fragments/fragments :: general-order-part"></div>

        <!-- GAME SPECIFIC PART -->
        <th:block th:switch="${game_type}">

            <div th:case="'LOL'">
                <br>CurrentRank:<br>
                <select name="currentRank">
                    <option th:each="lg : ${league_divisions}"
                    th:text="${lg}"
                     th:value="${lg}"></option>
                </select>
            </div>

            <div th:case="'WOW'">
                <!-- TODO: when WOW game is implemented -->
            </div>

            <div th:case="'OW'">
                <!-- TODO: when OW game is implemented -->
            </div>

            <div th:case="'FIFA'">
                <!-- TODO: when FIFA game is implemented -->
            </div>

            <div th:case="'CSGO'">
                <!-- TODO: when CSGO game is implemented -->
            </div>

        </th:block>

        <!-- CANCEL/SUBMIT BUTTONS -->
        <a th:href="@{~/customer-orders}"><input class="btn btn-default" type="button" value="Cancel"></a>
        <button class="btn btn-success" type="submit">Submit</button>

    </form>

</div>
</body>
</html>