<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose Game</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Amatic+SC}" rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" type="text/css" th:href="@{~/css/choose_game.css}" />-->
    <link th:href="@{~/css/choose_game.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <!--<script th:src="@{~/js/logic.js}" defer></script>
    <script th:src="@{~/js/main.js}" defer></script>-->
    <script th:src="@{~/js/logic.js}" type="text/javascript" defer></script>
    <script th:src="@{~/js/main.js}" type="text/javascript" defer></script>
</head>
<body>
<div class="panels">
    <div class="panel panel1" id="panel1">
        <p>World of Warcraft</p>
        <p> </p>
        <p> </p>
        <button id="wow">Choose</button>
    </div>
    <div class="panel panel2" id="panel2">
        <p>League of Legends</p>
        <p> </p>
        <p> </p>
        <button id="lol">Choose</button>
    </div>
    <div class="panel panel3" id="panel3">
        <p>OverWatch</p>
        <p> </p>
        <p> </p>
        <button id="ow">Choose</button>
    </div>
    <div class="panel panel4" id="panel4">
        <p>Fifa</p>
        <p> </p>
        <p> </p>
        <button id="fifa">Choose</button>
    </div>
    <div class="panel panel5" id="panel5">
        <p>CSGO</p>
        <p> </p>
        <p> </p>
        <button id="csgo">Choose</button>
    </div>
</div>
</body>
</html>